{% comment %}
** Home Banner 1 - homepage partial **
- Draggable section
- Uses blocks
{% endcomment %}

<div id="home-banner-1-wrap" class="wrap" style="background-color: {{ section.settings.bg-color }}; background-image:url({{ section.settings.bg-img | img_url: '791x' }})">

  <div id="home-banner-1-container" class="container">
    
    <div class="content">

      {% if section.settings.banner-img-1 %}
        <img id="home-banner-1-img" src="{{ section.settings.banner-img-1 | img_url: '371x331' }}">
      {% endif %}

      <h2 id="home-banner-1-heading">{{ section.settings.content }}</h2>

      <span class="d-block highlight-outline">{{ section.settings.txt-stroke }}</span>

      <a id="home-banner-1-btn" class="btn" href="{{ section.settings.btn-url }}">{{ section.settings.btn-txt }}</a>

    </div><!--/.content-->

  </div><!--/.container-->
</div><!--/.wrap-->

{% schema %}
  {
    "name": "Home Banner 1",
    "class": "home-banner-1 banner",    
    "settings": [
      {
        "type": "color",
        "id": "bg-color",
        "label": "Background Color",
        "default": "#fff"
      },
      {
        "type": "image_picker",
        "id": "bg-img",
        "label": "Background Image"
      },      
      {
        "type": "image_picker",
        "id": "banner-img-1",
        "label": "Image 1"
      },
      {
        "type": "text",
        "id": "content",
        "label": "Banner Text"
      },
      {
        "type": "text",
        "id": "txt-stroke",
        "label": "Stroked Text"
      },
      {
        "type": "text",
        "id": "btn-txt",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "btn-url",
        "label": "Button URL"
      }
    ],
    "presets": [{
      "name": "Home Banner 1",
      "category": "Banner"      
    }]
  }
{% endschema %}