{% comment %}
** Home Banner 2 - homepage partial **
- Draggable section
- Uses blocks
{% endcomment %}

<div id="home-banner-2-wrap" class="wrap" style="background-image:url({{ section.settings.bg-img | img_url: 'master' }})">

  <img class="zigzag zigzag-1" src="{{ 'zigzag.png' | asset_img_url: 'master' }}">
  <img class="zigzag zigzag-2" src="{{ 'zigzag.png' | asset_img_url: 'master' }}">
  
  <div id="home-banner-2-container" class="container">
    
    <div id="home-banner-2-content" class="content">      

      <h2 id="home-banner-2-heading">{{ section.settings.heading }}</h2>
      <p>{{ section.settings.txt }}</p>
      <a id="home-banner-2-btn" class="btn" href="{{ section.settings.btn-url }}">{{ section.settings.btn-txt }}</a>
    </div><!--/.content-->

  </div><!--/.container-->
</div><!--/.wrap-->

{% schema %}
  {
    "name": "Home Banner 2",
    "class": "home-banner-2 banner",    
    "settings": [
      {
        "type": "image_picker",
        "id": "bg-img",
        "label": "Background Image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "txt",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "btn-txt",
        "label": "Button Text"
      },
      {
        "type": "text",
        "id": "btn-url",
        "label": "Button URL"
      }
    ],
    "presets": [{
      "name": "Home Banner 2",
      "category": "Banner"      
    }]
  }
{% endschema %}